$toolbar-heigth:3.438rem;
$toolbar-background-color:#3f51b5;
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    height: $toolbar-heigth;
    background-color: $toolbar-background-color;
}

.mat-toolbar.mat-primary {
    height: $toolbar-heigth;
    background-color: $toolbar-background-color;
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

a.nav-link {
    color: white;
    text-decoration: none;
}