@import '~ngx-toastr/toastr';
html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.custom-dialog-container>.mat-dialog-container {
    padding: 0 .5rem 1rem !important;
    overflow: hidden;
}

.table-toolbar {
    // height: 3rem;
    background-color: #424242;
}